@import 'config';
@import 'responsive';

body {
    background: $Verydarkblue;
    color: white;
}

main {
    display: grid;
    width: 80vw;
    height: 80vh;
    margin: 5em auto;
    grid-template-columns: repeat(4, 18vw);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "user work play study "
        "user exercise social selfcare ";
    column-gap: 1em;
    row-gap: 2em;
}


.user {
    grid-area: user;
    border-radius: 1em;
    background: $Darkblue;

    .user-top {
        background: $Blue;
        width: 18vw;
        height: 54vh;
        border-radius: 1em;
        padding: 1em;

        img {
            max-width: 50%;
            border: .2em solid white;
            border-radius: 50%;
        }

        .para1 {
            margin: 2em 0 0 0;
            color: $PaleBlue;
            font-size: 12px;
        }

        h1 {
            font-weight: 100;
            padding: 0 0 2em 0;
        }
    }

    .user-btm {
        width: 18vw;
        height: 30vh;
        padding: 1em;

        button {
            display: block;
            font-size: larger;
            margin: .5em 0em;
            background: $Darkblue;
            border: none;
            outline: none;
            color: $Desaturatedblue;
        }

        button:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.w-current,
.p-current,
.s-current,
.e-current,
.so-current,
.se-current {
    font-size: xx-large;
    font-weight: 100;
    margin: .5em 0;
}

.w-previous,
.p-previous,
.s-previous,
.e-previous,
.so-previous,
.se-previous {
    color: $Desaturatedblue;
}

svg:hover path {
    fill: white;
}

.work {
    grid-area: work;
    width: 18vw;
    height: 22vh;
    background-color: $Lighredwork;
    background-image: url('../images/icon-work.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 1em;
    position: relative;

    .work-content {
        background: $Darkblue;
        width: 18vw;
        height: 32vh;
        position: absolute;
        border-radius: 1em;
        margin: 2em 0 0 0;
        padding: 1em;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    .work-content:hover {
        background: $Desaturatedblue;
        cursor: pointer;
    }
}

.play {
    grid-area: play;
    width: 18vw;
    height: 22vh;
    background-color: $Softbluepla;
    background-image: url('../images/icon-play.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 1em;

    .play-content {
        background: $Darkblue;
        width: 18vw;
        height: 32vh;
        position: absolute;
        border-radius: 1em;
        margin: 2em 0 0 0;
        padding: 1em;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .play-content:hover {
        background: $Desaturatedblue;
        cursor: pointer;
    }
}

.study {
    grid-area: study;
    width: 18vw;
    height: 22vh;
    background-color: $Lightredstudy;
    background-image: url('../images/icon-study.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 1em;

    .study-content {
        background: $Darkblue;
        width: 18vw;
        height: 32vh;
        position: absolute;
        border-radius: 1em;
        margin: 2em 0 0 0;
        padding: 1em;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .study-content:hover {
        background: $Desaturatedblue;
        cursor: pointer;
    }
}

.exercise {
    grid-area: exercise;
    width: 18vw;
    height: 22vh;
    background-color: $Limegreenexercise;
    background-image: url('../images/icon-exercise.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 1em;

    .exercise-content {
        background: $Darkblue;
        width: 18vw;
        height: 32vh;
        position: absolute;
        border-radius: 1em;
        margin: 2em 0 0 0;
        padding: 1em;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .exercise-content:hover {
        background: $Desaturatedblue;
        cursor: pointer;
    }
}

.social {
    grid-area: social;
    width: 18vw;
    height: 22vh;
    background-color: $Violetsocial;
    background-image: url('../images/icon-social.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 1em;

    .social-content {
        background: $Darkblue;
        width: 18vw;
        height: 32vh;
        position: absolute;
        border-radius: 1em;
        margin: 2em 0 0 0;
        padding: 1em;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .social-content:hover {
        background: $Desaturatedblue;
        cursor: pointer;
    }
}

.selfcare {
    grid-area: selfcare;
    width: 18vw;
    height: 22vh;
    background-color: $Softorangeselfcare;
    background-image: url('../images/icon-self-care.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-radius: 1em;

    .selfcare-content {
        background: $Darkblue;
        width: 18vw;
        height: 32vh;
        position: absolute;
        border-radius: 1em;
        margin: 2em 0 0 0;
        padding: 1em;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .selfcare-content:hover {
        background: $Desaturatedblue;
        cursor: pointer;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}